@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #f6f5f5;
}
a{
    text-decoration: none;
    border: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url(https://images.hdqwalls.com/download/black-gradient-b9-1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* navbar styling */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: #fff;
    /* background-color: crimson; */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    margin: 2rem;
    font-family: myriad pro regular;
    color:#2d2a2a;
    font-size: 1rem;
    font-weight: 700;
}
/* <-----------------------> */
/* navbar list */
nav ul{
    display: flex;
    margin-top: 1rem;
    text-decoration:none;
    border: none;
    position: fixed;
}
/* .logo */
.logo{
    font-family: RoadTest;
    color:#2d2a2a ;
    font-size: 35px;
}
/* button active */
.active{
    font-weight: bold;
    /* color: #fff; */
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 1.4rem;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #1a1a1a;
    font-size: 4rem;
}
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 2rem;
    line-height: 2rem;
}
.text-container p{
    line-height: 0rem;
    margin: 3rem 0rem 1.6rem;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width: 8.6rem;
    height: 2.8rem;
    border-radius: 0.6rem;
    font-family: calibri;
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
    margin: 0rem 0.6rem;
}
.hire-btn{
    border: 0.15rem;
    color: #373636;
}
.cv-btn{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform: scale(1.1);
}
.model{
    height: 39rem;
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translateX(-50%);
}

.about-container{
    width: 80%;
    height: 25rem;
    background-color: #FFFFFF;
    border-radius: 1.3rem;
    box-shadow: 0.13rem 0.13rem 0.8rem rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 1.3rem auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 16.66rem;
}
.about-text{
    width: 36.6rem;
    text-align: justify;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size:2rem;
   
}
.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 1rem;
    font-family: calibri;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: calibri;
    font-size: 1rem;
}
.about-text button{
    width:7rem;
    height: 2.66rem;
    color: #FFFFFF;
    outline: none;
    border: white;
    font-family: calibri;
    background-color: #262525;
    border-radius: 0.6rem;
}

.services{
    height: 40rem;
    background-color: #FFFFFF;
    padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 2rem;
    line-height: 0px;
}
.services-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 1rem;
   
}
.services-text p:nth-child(3){
    font-family: calibri;
    font-weight: bold;
    color: #7e7d7d;
    font-size: 1rem;

}
.services-text{
    width: 35rem;
    margin: 3.33rem  0px ;
    text-align: justify;
}

.box-container{
    display: flex;
    justify-content: space-between;
}
.card-body span{

    background-color: #FFFFFF;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: calibri;
    font-weight: bold;
    font-size: 1.3rem;
}
.card-body{
    background-image: url(https://images.hdqwalls.com/download/black-gradient-b9-1920x1080.jpg);
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display:flex;
    justify-content:center;
    align-content:center;
}
.card-body h5{
    color: #FFFFFF;
    font-size: 1.53rem;
    font-family: calibri;
    line-height: 0%;
    margin-top: 5%;
}
.card-body button a{
    text-decoration: none;
    color: #000000;
}
.col .card .card-body button{
  border: none;
  height:2rem;
  background-color: #FFFFFF;
  outline: none;
  border-radius: 0.3rem;
  width: 6.6rem;
  color: #000000;
}
.card-body p{
    font-family: calibri;
    text-align: center;
    width: 15.33rem;
    margin:1rem 0 1.3rem 0;
    color: #8f8f8f;
    font-size: 1rem;
}
.Contact{
    width: 100%;
    margin-top: 5%;
    height: 18.66rem;
    background-image: url(https://images.hdqwalls.com/download/black-gradient-b9-1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Contact p{
    color: #FFFFFF;
    font-size:  2rem;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 0.13rem solid #f6f5f5;
}
.Contact button{
    width: 18.66rem;
    height: 2.66rem;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 0.93rem;
}
footer{
    height:20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: calibri;
}
footer p:nth-child(1){
    margin-top: 3%;
    font-size: 2rem;
    color: #191919;
    line-height: 10px;
    font-weight: bold;
}
footer p span{
    font-size: 2rem;
    color: #7e7d7d;
}
.right{
    font-size: 1.08rem;
    color: #7e7d7d;
    width:40rem;
    text-align: center;
}
.social-icons a{
    width:2.66rem;
    height:2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 1.33rem 0.66rem;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.social-icons a {
    text-decoration: none;
    color: black;
}
.social-icons a:hover,
.a-social-icons a:hover{
    background-color: #000000;
    box-shadow: 0.13rem 0.13rem  0.8rem rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-icons a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}
.a-social-icons{
    position: fixed;
    top: 50%;
    transform:translateY(-50%);
    right: 0;
}
.a-social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.33rem;
    height: 3.33rem;
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: #FFFFFF;
    border: 0.06rem solid #cbcbcb;
    box-shadow: 0.13rem 0.13rem  0.8rem rgba(0,0,0,0.2);
}
.a-social-icons a{
    color: #2b2b2b;
    text-decoration: none;
}
.a-social-icons i{
    font-size: 1.33rem;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}